@{
    ViewBag.Title = "Inicio";
}

<div class="section scrollspy">
    <h2 class="header">Últimos torneos</h2>
    <div class="collection">
        <a class="collection-item avatar" href="#" title="">
            <i class="material-icons circle green"></i>
            <span class="title">Torneo 1</span>
            <p>3 fases, 8 contendores </p>
            <p>En votación</p>
        </a>
        <a class="collection-item avatar" href="#" title="">
            <i class="material-icons circle orange"></i>
            <span class="title">Torneo 2</span>
            <p>3 fases, 8 contendores </p>
            <p><strong>Terminado</strong></p>
        </a>
        <a class="collection-item avatar" href="#" title="">
            <i class="material-icons circle orange"></i>
            <span class="title">Torneo 3</span>
            <p>3 fases, 8 contendores </p>
            <p><strong>Terminado</strong></p>
        </a>
    </div>
</div>